@charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #fff;
}

/* header */
header {
    padding:50px 30px 30px 30px;
    box-sizing: border-box;
}
.playlist_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .title h2 {
    font-size: 30px;
}
header .profile {
    width: 30px;
    height: auto;
}
header .profile img {
    width: 100%;
}

/* playlist */
.playlist > p {
    float: right;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #666;
    margin-bottom: 20px;
}
.playlist1 {
    margin-left: 30px;
}
.playlist1 .playlistSwiper img {
    width: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.playlist1 .playlistSwiper .swiper-slide {
    width: 200px;
}
.playlist1 .playlistSwiper p {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.todaySwiper {
    margin-bottom: 30px;
}
.todaySwiper img {
    width: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.todaySwiper p {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
/* today_list */
.today_list {
    margin-top: 50px;
    margin-left: 30px
}
.today_list h2 {
    font-size: 30px;
}
.today_list > a{
    float: right;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 500;
    color: #666;
    margin-bottom: 20px;
}

/* play_music */
.play_music {
    background: #ff2d55;
    padding: 10px 30px;
    border-radius: 70px 70px 0 0;
}
.play_music .play {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.play_music .play .play_album img {
    width: 100px;
}
.play_music .play .play_txt p {
    margin-left: 10px;
}
.play_music .play .play_txt p:first-child {
    font-size: 20px;
    font-weight: 500;
}
.play_music .play .play_txt p:last-child {
    font-size: 17px;
    font-weight: 500;
    color: #bbb;
}

.play_music .play .play_icon {
    position: absolute;
    right: 30px;
}
.play_music .play .play_icon img {
    width:30px;
    margin-left: 10px;
}

/* footer */
.footer_icon {
    background: #000;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer_icon img {
    width: 40px;
}